@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');


*{
    box-sizing: border-box;
}

/*General-styles*/
body{
    font-family: 'open sans', 'sans-serif';
    margin: 0;
    color: hsl(192, 100%, 9%);
}

h1, h2{
    font-family: 'poppins', 'sans-serif';
}

.container{
    width: 1000px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.button{
    padding: 15px 60px;
    border-radius: 50px;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.button-primary{
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
}

.flex{
    display: flex;
    align-items: center;
}

header{
    background-image: url('./images/bg-hero-desktop.svg');
    background-size: cover;
    background-position: center center;
    padding: 40px;
    background-color: hsl(193, 100%, 96%);
}

nav{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.flex > div{
    flex: 1;
}

.align-start{
    align-items: flex-start;
}

.box{
    margin: 40px 0;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 60px;
}

.box img{
    width: 80%;
}

.small-box{
    display: inline-block;
    position: relative;
    z-index: 1;

}

.center{
    text-align: center;
}

footer{
    background-color: hsl(192, 100%, 9%);
    color: #ffffff;
    padding: 180px 0 60px;
}

footer ul{
    padding: 0;
    list-style-type: none;

}

footer ul li{
    margin-bottom: 20px;

}

.space{
    padding-right: 15px;
    padding-left: 45px;
}

footer a.circle{
    border: 1px, solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}